/* ALTOS EN PIXELES */
.H20P {
	height: 20px;
}

.H24P {
	height: 24px;
}

.H30P {
	height: 30px;
}

.H40P div {
	height: 40px;
}

.H40P {
	height: 40px;
}

.H90P {
	height: 90px;
}

.H110P {
	height: 110px;
}

.H130P {
	height: 130px;
}

.H140P {
	height: 140px;
}

.H150P {
	height: 150px;
}

.H160P {
	height: 160px;
}

.H172P {
	height: 172px;
}

.H190P {
	height: 190px;
}

.H195P {
	height: 195px;
}

.H200P {
	height: 200px;
}

.H210P {
	height: 210px;
}

.H220P {
	height: 220px;
}

.H250P {
	height: 250px;
}

.H275P {
	height: 275px;
}

.H300P {
	height: 300px;
}

.H325P {
	height: 325px;
}

.H350P {
	height: 350px;
}

.H373P {
	height: 373px;
}

.H400P {
	height: 400px;
}

.H440P {
	height: 440px;
}

.H485P {
	height: 485px;
}

.H544P {
	height: 544px;
}

.H805P {
	height: 805px;
}

/* ALTOS EN PIXELES IMPORTANT */
.H140PImp {
	height: 140px !important;
}

.H170PImp {
	height: 170px !important;
}

.H260PImp {
	height: 260px !important;
}

.H272PImp {
	height: 272px !important;
}

.H280PImp {
	height: 280px !important;
}

.H290PImp {
	height: 290px !important;
}

.H325PImp {
	height: 325px !important;
}

/* ANCHOS EN PIXELES */
.W5P {
	width: 5px;
}

.W16P {
	width: 16px;
}

.W20P {
	width: 20px;
}

.W24P {
	width: 24px;
}

.W30P {
	width: 30px;
}

.W58P {
	width: 58px;
}

.W60P input {
	width: 60px;
}

.W66P {
	width: 66px;
}

.W75P {
	width: 75px;
}

.W82P {
	width: 82px;
}

.W90P input {
	width: 90px;
}

.W91P {
	width: 91px;
}

.W98P {
	width: 98px;
}

.W100P input {
	width: 100px;
}

.W103P {
	width: 103px;
}

.W104P input {
	width: 104px;
}

.W106P {
	width: 106px;
}

.W108P {
	width: 108px;
}

.W110P input {
	width: 110px;
}

.W120P {
	width: 120px;
}

.W125P {
	width: 125px;
}

.W130P input {
	width: 130px;
}

.W150P {
	width: 150px;
}

.W155P {
	width: 155px;
}

.W170P {
	width: 170px;
}

.W180P {
	width: 180px;
}

.W210P {
	width: 210px;
}

.W240P {
	width: 240px;
}

.W250P {
	width: 250px;
}

.W290P {
	width: 290px;
}

.W350P {
	width: 350px;
}

.W360P {
	width: 360px;
}

.W370P {
	width: 370px;
}

.W400P {
	width: 400px;
}

.W420P {
	width: 420px;
}

.W430P {
	width: 430px;
}

.W440P {
	width: 440px;
}

.W450P {
	width: 450px;
}

.W460P {
	width: 460px;
}

.W455P {
	width: 455px;
}

.W470P {
	width: 470px;
}

.W500P {
	width: 500px;
}

.W510P {
	width: 510px;
}

.W530P {
	width: 530px;
}

.W550P {
	width: 550px;
}

.W560P {
	width: 560px;
}

.W580P {
	width: 580px;
}

.W600P {
	width: 600px;
}

.W615P {
	width: 615PX;
}

.W620P {
	width: 620PX;
}

.W650P {
	width: 650px;
}

.W655P {
	width: 655px;
}

.W670P {
	width: 670px;
}

.W680P {
	width: 680px;
}

W705P {
	width: 705px;
}

.W715P {
	width: 715px;
}

.W725P {
	width: 725px;
}

.W760P {
	width: 760px;
}

.W850P {
	width: 850px;
}

.W880P {
	width: 880px;
}

.W900P {
	width: 900px;
}

.W1000P {
	width: 1000px;
}

/* ANCHOS EN PIXELES IMPORTANT*/
.W100PImp {
	width: 100px !important;
}

.W350PImp {
	width: 350px !important;
}

/* ANCHOS EN PORCENTAJE */
.W20Per {
	width: 20%;
}

.W30Per {
	width: 30%;
}

.W37Per {
	width: 37%;
}

.W40Per {
	width: 40%;
}

.W50Per {
	width: 50%;
}

.W60Per {
	width: 60%;
}

.W70Per {
	width: 70%;
}

.W75Per {
	width: 75%;
}

.W95Per {
	width: 95%;
}

.W100Per {
	width: 100%;
}

/* MARGIN - PADDING -  MIN - MAX - BORDER */
/*Min Porcentaje*/
.MinW50Per {
	min-width: 50%;
}

/*Min Pixeles*/
.MinW50P {
	min-width: 50px;
}

.MinW300P {
	min-width: 300px;
}

.MinH190P {
	min-height: 190px;
}

.MinH208P {
	min-height: 208px;
}

.MinH230P {
	min-height: 230px;
}

.MinH253P {
	min-height: 253px;
}

/*Maximo Pixeles*/
/*Anchos*/
.MaxW350P {
	max-width: 350px;
}

.MaxW175P {
	max-width: 175px;
}

.MaxW400P {
	max-width: 400px;
}

.MaxW980P {
	max-width: 980px;
}

/*Altos*/
.MaxH200P {
	max-height: 200px;
}

.MaxH400P {
	max-height: 400px;
}

/*Margin Pixeles*/
.MarginL0P {
	margin-left: 0px;
}

.MarginL5P {
	margin-left: 5px;
}

.MarginT-5P {
	margin-top: -5px;
}

/*Padding Pixeles*/
.Padding0P {
	padding: 0px !important;
}

.PaddingL19P {
	padding-left: 19px;
}

.PaddingL10P {
	padding-left: 10px;
}

.PaddingL17P {
	padding-left: 17px;
}

.PaddingT6P {
	padding-top: 6px;
}

.PaddingB6P {
	padding-bottom: 6px;
}

/*Border Pixeles*/
.BorderW0P {
	border-width: 0px;
}

.BorderW2P {
	border-width: 2px;
}

.BorderStyleSolid {
	border-style: solid;
}

.Border0P {
	border: 0px;
}

/* Tama#os Letras */
.Font50P {
	font-size: 50px;
}

.Font40P {
	font-size: 40px;
}

.Font30P {
	font-size: 30px;
}

.Font22P {
	font-size: 22px;
}

.Font13P {
	font-size: 13px;
}

.Font11P {
	font-size: 11px;
}

.Font7P {
	font-size: 7px;
}