/* ETIQUETAS HTML */
html {
	overflow-y: scroll;
}

body {
	font-size: 12px;
	margin: 0px;
}

.body {
	padding-left: 30px;
	padding-top: 39px;
}

a img {
	border: none;
}

h1 {
	font-size: 1.6em;
	margin-top: 0;
}

/* Inputs */
input[type=submit],input[type=button] {
	font-size: 11px;
	margin: 0px 5px 0px 5px;
	cursor: pointer;
}

input[type=text],input[type=file],input[type=password],textarea,select {
	font-size: 12px;
	padding-left: 1px;
	margin: 5px 5px 5px 5px;
	font-weight: normal !important;
}

/* Table Control */
.tableControl,.actionButtons {
	width: 100%;
}

.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}

.tableControl input[type=submit],.tableControl input[type=button],.tableControl select
	{
	margin: 5px 0 5px 5px;
}

/* I don't know why this is necessary, but the select is off by a pixel on the top and is padding too much on the left */
.tableControl select {
	margin-left: 2px;
	position: relative;
	top: 1px;
}

.footer {
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
}

/**Cambios estilos migracion JEE6 a JEE7*/
form {
	margin: 0;
}

table {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	white-space: inherit;
}