/*NOTA: POR FAVOR NO USAR CTRL+SHIFT+F, LA RAZON ES QUE SE DA�A UN FILTRO PARA EXPLORER 8
en caso de hacerlo este es el filtro que se no sirve al hacer formato de codigo:
 "filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='#777777');"
 copiar y pegarlo donde sea necesario para que quede en una sola linea y funcione.
*/

/*Estilos para todos los botones, para agregar uno nuevo agregar al final del siguiente estilo las etiquetas mostradas a continuacion: 
input[value="valor en la vista"], input[value="valor en la vista"]:hover*/
/*NOTA: "valor en la vista" es el nombre que tiene el boton en la vista y debe agregarse tanto en espaniol como en ingles*/
input[value="Mantenimiento"],input[value="Mantenimiento"]:hover,input[value="Maintenance"],input[value="Maintenance"]:hover,input[value="Seguro"],input[value="Seguro"]:hover,input[value="Insurance"],input[value="Insurance"]:hover,input[value="Depreciation"],input[value="Depreciation"]:hover,input[value="Depreciacion"],input[value="Depreciacion"]:hover,input[value="Distribuir"],input[value="Distribuir"]:hover,input[value="Allocate"],input[value="Allocate"]:hover,input[value="Actualizar"],input[value="Actualizar"]:hover,input[value="Update"],input[value="Update"]:hover,input[value="Calcular"],input[value="Calcular"]:hover,input[value="Calculate"],input[value="Calculate"]:hover,input[value="Save"],input[value="Save"]:hover,input[value="Guardar"],input[value="Guardar"]:hover,input[value="Cancel"],input[value="Cancel"]:hover,input[value="Cancelar"],input[value="Cancelar"]:hover,input[value="Ok"],input[value="Ok"]:hover,input[value="Aceptar"],input[value="Aceptar"]:hover,input[value="Accept"],input[value="Accept"]:hover,input[value="Edit"],input[value="Edit"]:hover,input[value="Editar"],input[value="Editar"]:hover,input[value="Search"],input[value="Search"]:hover,input[value="Buscar"],input[value="Buscar"]:hover,input[value="Sign On"],input[value="Sign On"]:hover,input[value="Ingresar"],input[value="Ingresar"]:hover,input[value="Home"],input[value="Home"]:hover,input[value="Inicio"],input[value="Inicio"]:hover,input[value="Back"],input[value="Back"]:hover,input[value="Atras"],input[value="Atras"]:hover,input[value="Add"],input[value="Add"]:hover,input[value="Agregar"],input[value="Agregar"]:hover,input[value="New"],input[value="New"]:hover,input[value="Nuevo"],input[value="Nuevo"]:hover,input[value="Como Presupuestado"],input[value="Como Presupuestado"]:hover,input[value="As Budgeted"],input[value="As Budgeted"]:hover,input[value="Mostrar Actividades"],input[value="Mostrar Actividades"]:hover,input[value="Show Activities"],input[value="Show Activities"]:hover,input[value="Ajuste"],input[value="Ajuste"]:hover,input[value="Adjust"],input[value="Adjust"]:hover,input[value="Confirmar y enviar"],input[value="Confirmar y enviar"]:hover,input[value="Confirm and submit"],input[value="Confirm and submit"]:hover,input[value="Expire"],input[value="Expire"]:hover,input[value="Expirar"],input[value="Expirar"]:hover,input[value="Withdraw"],input[value="Withdraw"]:hover,input[value="Retirar"],input[value="Retirar"]:hover
	{
	height: 22px;
	width: 80px;
	background-repeat: no-repeat;
	background-position: 5px center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px !important;
	text-align: right;
	border: none;
}

/*box-shadow para todos los hover de los botones, para agregar uno nuevo agregar al final la etiqueta: input[value="valor en la vista"]:hover*/
input[value="Mantenimiento"]:hover,input[value="Maintenance"]:hover,input[value="Insurance"]:hover,input[value="Seguro"]:hover,input[value="Depreciacion"]:hover,input[value="Depreciation"]:hover,input[value="Distribuir"]:hover,input[value="Allocate"]:hover,input[value="Update"]:hover,input[value="Actualizar"]:hover,input[value="Calcular"]:hover,input[value="Calculate"]:hover,input[value="Save"]:hover,input[value="Guardar"]:hover,input[value="Cancel"]:hover,input[value="Cancelar"]:hover,input[value="Ok"]:hover,input[value="Aceptar"]:hover,input[value="Accept"]:hover,input[value="Edit"]:hover,input[value="Editar"]:hover,input[value="Search"]:hover,input[value="Buscar"]:hover,input[value="Sign On"]:hover,input[value="Ingresar"]:hover,input[value="Inicio"]:hover,input[value="Home"]:hover,input[value="Back"]:hover,input[value="Atras"]:hover,input[value="Add"]:hover,input[value="Agregar"]:hover,input[value="New"]:hover,input[value="Nuevo"]:hover,input[value="Como Presupuestado"]:hover,input[value="As Budgeted"]:hover,input[value="Mostrar Actividades"]:hover,input[value="Show Activities"]:hover,input[value="Ajuste"]:hover,input[value="Adjust"]:hover,input[value="Confirmar y enviar"]:hover,input[value="Confirm and submit"]:hover,input[value="Expire"]:hover,input[value="Expirar"]:hover,input[value="Withdraw"]:hover,input[value="Retirar"]:hover
	{
	box-shadow: #777777 2px 2px 8px;
}
/*box-shadow para todos los hover de los botones, pero en IE, para agregar uno nuevo agregar al final la etiqueta: input[value="valor en la vista"]:hover*/
body.ie8  input[value="Mantenimiento"]:hover,input[value="Maintenance"]:hover,input[value="Insurance"]:hover,input[value="Seguro"]:hover,input[value="Depreciacion"]:hover,input[value="Depreciation"]:hover,input[value="Distribuir"]:hover,input[value="Allocate"]:hover,input[value="Update"]:hover,input[value="Actualizar"]:hover,input[value="Calcular"]:hover,input[value="Calculate"]:hover,input[value="Save"]:hover,input[value="Guardar"]:hover,input[value="Cancel"]:hover,input[value="Cancelar"]:hover,input[value="Ok"]:hover,input[value="Aceptar"]:hover,input[value="Accept"]:hover,input[value="Edit"]:hover,input[value="Editar"]:hover,input[value="Search"]:hover,input[value="Buscar"]:hover,input[value="Sign On"]:hover,input[value="Ingresar"]:hover,input[value="Inicio"]:hover,input[value="Home"]:hover,input[value="Back"]:hover,input[value="Add"]:hover,input[value="Agregar"]:hover,input[value="New"]:hover,input[value="Nuevo"]:hover,input[value="Back"]:hover,input[value="Atras"]:hover,input[value="Como Presupuestado"]:hover,input[value="As Budgeted"]:hover,input[value="Mostrar Actividades"]:hover,input[value="Show Activities"]:hover,input[value="Ajuste"]:hover,input[value="Adjust"]:hover,input[value="Confirmar y enviar"]:hover,input[value="Confirm and submit"]:hover,input[value="Expire"]:hover,input[value="Expirar"]:hover,input[value="Withdraw"]:hover,input[value="Retirar"]:hover
	{
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2,
		Color='#777777');
}

/*Imagen para boton inicio*/
input[value="Inicio"],input[value="Home"] {
	background-image: url("../img/iconosBotones/inicio_18.png");
}

/*Imagen para el hover del boton inicio*/
input[value="Inicio"]:hover,input[value="Home"]:hover {
	background-image: url("../img/iconosBotones/inicioHover_18.png");
}

/*Imagen para boton guardar*/
input[value="Save"],input[value="Guardar"] {
	background-image: url("../img/iconosBotones/guardar_18.png");
}

/*Imagen para el hover del boton guardar*/
input[value="Save"]:hover,input[value="Guardar"]:hover {
	background-image: url("../img/iconosBotones/guardarHover_18.png");
}

/*Imagen para boton calcular*/
input[value="Calculate"],input[value="Calcular"] {
	background-image: url("../img/iconosBotones/calcular_18.png");
}

/*Imagen para el hover del boton calcular*/
input[value="Calculate"]:hover,input[value="Calcular"]:hover {
	background-image: url("../img/iconosBotones/calcularHover_18.png");
}

/*Imagen para boton actualizar*/
input[value="Update"],input[value="Actualizar"] {
	background-image: url("../img/iconosBotones/actualizar_18.png");
}

/*Imagen para el hover del boton actualizar*/
input[value="Update"]:hover,input[value="Actualizar"]:hover {
	background-image: url("../img/iconosBotones/actualizarHover_18.png");
}

/*Imagen para boton copiar*/
input[value="As Budgeted"],input[value="Como Presupuestado"] {
	background-image: url("../img/iconosBotones/copiar_18.png");
}

/*Imagen para el hover del boton copiar*/
input[value="As Budgeted"]:hover,input[value="Como Presupuestado"]:hover
	{
	background-image: url("../img/iconosBotones/copiarHover_18.png");
}

/*Imagen para boton Ajuste*/
input[value="Adjust"],input[value="Ajuste"] {
	background-image: url("../img/iconosBotones/adjust_18.png");
}

/*Imagen para el hover del boton copiar*/
input[value="Adjust"]:hover,input[value="Ajuste"]:hover
	{
	background-image: url("../img/iconosBotones/adjustHover_18.png");
}

/*Imagen para boton Buscar*/
input[value="Search"],input[value="Buscar"],input[value="Search Establishment"],input[value="Buscar Establecimiento"],input[value="Mostrar Actividades"],input[value="Show Activities"]
	{
	background-image: url("../img/iconosBotones/buscar_18.png");
}

/*Imagen para el hover del boton buscar*/
input[value="Search"]:hover,input[value="Buscar"]:hover,input[value="Search Establishment"]:hover,input[value="Buscar Establecimiento"]:hover,input[value="Mostrar Actividades"]:hover,input[value="Show Activities"]:hover
	{
	background-image: url("../img/iconosBotones/buscarHover_18.png");
}

/*Imagen para boton cancelar*/
input[value="Cancel"],input[value="Cancelar"] {
	background-image: url("../img/iconosBotones/cancelar_18.png");
}
/*Imagen para el hover del boton cancelar*/
input[value="Cancel"]:hover,input[value="Cancelar"]:hover {
	background-image: url("../img/iconosBotones/cancelarHover_18.png");
}

/*Imagen para boton login*/
input[value="Login"],input[value="Ingresa"],input[value="Sign On"],input[value="Ingresar"]
	{
	background-image: url("../img/iconosBotones/ingresar_18.png");
}

/*Imagen para el hover del boton login*/
input[value="Login"]:hover,input[value="Ingresa"]:hover,input[value="Sign On"]:hover,input[value="Ingresar"]:hover
	{
	background-image: url("../img/iconosBotones/ingresarHover_18.png");
}

/*Imagen para boton aceptar*/
input[value="Ok"],input[value="Aceptar"],input[value="Accept"] {
	background-image: url("../img/iconosBotones/aceptar_18.png");
}

/*Imagen para el hover del los boton aceptar*/
input[value="Ok"]:hover,input[value="Aceptar"]:hover,input[value="Accept"]:hover
	{
	background-image: url("../img/iconosBotones/aceptarHover_18.png");
}

/*Imagen para boton editar*/
input[value="Edit"],input[value="Editar"] {
	background-image: url("../img/iconosBotones/editar_18.png");
}

/*Imagen para el hover del boton editar*/
input[value="Edit"]:hover,input[value="Editar"]:hover {
	background-image: url("../img/iconosBotones/editarHover_18.png");
}

/*Imagen para botones agregar y nuevo*/
input[value="Add"],input[value="Agregar"],input[value="New"],input[value="Nuevo"]
	{
	background-image: url("../img/iconosBotones/agregar_18.png");
}

/*Imagen para el hover del boton agregar*/
input[value="Add"]:hover,input[value="Agregar"]:hover,input[value="New"]:hover,input[value="Nuevo"]:hover
	{
	background-image: url("../img/iconosBotones/agregarHover_18.png");
}

/*Imagen para boton atras*/
input[value="Back"],input[value="Atras"] {
	background-image: url("../img/iconosBotones/atras_18.png");
}

/*Imagen para el hover del boton atras*/
input[value="Back"]:hover,input[value="Atras"]:hover {
	background-image: url("../img/iconosBotones/atrasHover_18.png");
}

/*Imagen para el boton Distribuir*/
input[value="Distribuir"],input[value="Allocate"] {
	background-image: url("../img/iconosBotones/distribuir_18.png");
}

/*Imagen para el hover del boton distribuir*/
input[value="Distribuir"]:hover,input[value="Allocate"]:hover {
	background-image: url("../img/iconosBotones/distribuirHover_18.png");
}

/*Imagen para el boton depreciacion*/
input[value="Depreciation"],input[value="Depreciacion"] {
	background-image: url("../img/iconosBotones/depreciation_18.png");
}

/*Imagen para el hover del boton depreciacion*/
input[value="Depreciacion"]:hover,input[value="Depreciation"]:hover {
	background-image: url("../img/iconosBotones/depreciationHover_18.png");
}

/*Imagen para el boton insurance*/
input[value="Insurance"],input[value="Seguro"] {
	background-image: url("../img/iconosBotones/insurance_18.png");
}

/*Imagen para el hover del boton insurance*/
input[value="Insurance"]:hover,input[value="Seguro"]:hover {
	background-image: url("../img/iconosBotones/insuranceHover_18.png");
}

/*Imagen para el boton maintenance*/
input[value="Mantenimiento"],input[value="Maintenance"] {
	background-image: url("../img/iconosBotones/maintenance_18.png");
}

/*Imagen para el hover del boton maintenance*/
input[value="Mantenimiento"]:hover,input[value="Maintenance"]:hover {
	background-image: url("../img/iconosBotones/maintenanceHover_18.png");
}

/*Imagen para el boton confirm and submit*/
input[value="Confirmar y enviar"],input[value="Confirm and submit"] {
	background-image: url("../img/iconosBotones/submit_18.png");
}

/*Imagen para el hover del boton confirm and submit*/
input[value="Confirmar y enviar"]:hover,input[value="Confirm and submit"]:hover {
	background-image: url("../img/iconosBotones/submitHover_18.png");
}

/*Imagen para el boton expire*/
input[value="Expire"],input[value="Expirar"] {
	background-image: url("../img/iconosBotones/expire_18.png");
}

/*Imagen para el hover del boton expire*/
input[value="Expire"]:hover,input[value="Expirar"]:hover {
	background-image: url("../img/iconosBotones/expireHover_18.png");
}

/*Imagen para el boton withdraw*/
input[value="Withdraw"],input[value="Retirar"] {
	background-image: url("../img/iconosBotones/withdraw_18.png");
}

/*Imagen para el hover del boton withdraw*/
input[value="Withdraw"]:hover,input[value="Retirar"]:hover {
	background-image: url("../img/iconosBotones/withdrawHover_18.png");
}

/*Ancho de 55px para botones*/
input[value="Ok"],input[value="Ok"]:hover {
	width: 55px;
}

/*Ancho de 65px para botones*/
input[value="Edit"],input[value="Edit"]:hover,input[value="Add"],input[value="Add"]:hover,input[value="Back"],input[value="Back"]:hover
	{
	width: 65px;
}
/*Ancho de 68px para botones*/
input[value="Inicio"],input[value="Inicio"]:hover,input[value="Atras"],input[value="Atras"]:hover
	{
	width: 68px;
}

/*Ancho de 70px para botones*/
input[value="Save"],input[value="Save"]:hover,input[value="Login"],input[value="Login"]:hover,input[value="Home"],input[value="Home"]:hover,input[value="Back"],input[value="Back"]:hover
	{
	width: 70px;
}

/*Ancho de 75px para botones*/
input[value="Seguro"],input[value="Seguro"]:hover,input[value="Editar"],input[value="Editar"]:hover,input[value="Ajuste"],input[value="Ajuste"]:hover,input[value="Adjust"],input[value="Adjust"]:hover,input[value="Expire"],input[value="Expire"]:hover {
	width: 75px;
}

/*Ancho de 80px para botones*/
input[value="Update"],input[value="Update"]:hover,input[value="Cancel"],input[value="Cancel"]:hover,input[value="Expirar"],input[value="Expirar"]:hover,input[value="Retirar"],input[value="Retirar"]:hover
	{
	width: 80px;
}

/*Ancho de 85px para botones*/
input[value="Allocate"],input[value="Allocate"]:hover,input[value="Calcular"],input[value="Calcular"]:hover,input[value="Ingresar"],input[value="Ingresar"]:hover,input[value="Aceptar"],input[value="Aceptar"]:hover,input[value="Accept"],input[value="Accept"]:hover
	{
	width: 85px;
}

/*Ancho de 90px para botones*/
input[value="Calculate"],input[value="Calculate"]:hover,input[value="Guardar"],input[value="Guardar"]:hover,input[value="Agregar"],input[value="Agregar"]:hover,input[value="Withdraw"],input[value="Withdraw"]:hover
	{
	width: 90px;
}

/*Ancho de 95px para botones*/
input[value="Insurance"],input[value="Insurance"]:hover,input[value="Distribuir"],input[value="Distribuir"]:hover,input[value="Actualizar"],input[value="Actualizar"]:hover,input[value="Cancelar"],input[value="Cancelar"]:hover,input[value="Sign On"],input[value="Sign On"]:hover
	{
	width: 95px;
}

/*Ancho de 115px para botones*/
input[value="Maintenance"]:hover,input[value="Maintenance"],input[value="Depreciation"],input[value="Depreciacion"],input[value="Depreciacion"]:hover,input[value="Depreciation"]:hover
	{
	width: 115px;
}

input[value="As Budgeted"],input[value="As Budgeted"]:hover {
	width: 120px;
}

input[value="Mantenimiento"],input[value="Mantenimiento"]:hover{
	width: 125px;
}

input[value="Show Activities"],input[value="Show Activities"]:hover {
	width: 128px;
}

input[value="Mostrar Actividades"],input[value="Mostrar Actividades"]:hover
	{
	width: 157px;
}

input[value="Como Presupuestado"],input[value="Como Presupuestado"]:hover
	{
	width: 172px;
}

input[value="Confirmar y enviar"],input[value="Confirmar y enviar"]:hover
	{
	width: 158px;
}

input[value="Confirm and submit"],input[value="Confirm and submit"]:hover
	{
	width: 158px;
}

/*Estilo General para nuevos botones*/
.estiloBoton {
	height: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px !important;
	text-align: right;
	border: none;
}

.sytleButtonUpload {
    font-family: Arial,sans-serif;
    font-size: 11px;
}

/*Hover General para nuevos botones*/
.estiloBoton:hover {
	box-shadow: #777777 2px 2px 8px;
}

/*Background Especifico para nuevo boton ingresar*/
.fondoIngresar {
	background-image: url("../img/iconosBotones/ingresar_18.png") !important;
	background-repeat: no-repeat !important;
	background-position: 5px center !important;
}

/*Hover Especifico para nuevo boton ingresar*/
.fondoIngresar:hover {
	background-image: url("../img/iconosBotones/ingresarHover_18.png")
		!important;
	background-repeat: no-repeat !important;
	background-position: 5px center !important;
}

/*Background Especifico para boton de renovar contrasenya*/
.fondoRenovar {
	background-image: url("../img/iconosBotones/renovar_18.png") !important;
	background-repeat: no-repeat !important;
	background-position: 5px center !important;
}

/*Hover Especifico para boton de renovar contrasenya*/
.fondoRenovar:hover {
	background-image: url("../img/iconosBotones/renovarHover_18.png")
		!important;
	background-repeat: no-repeat !important;
	background-position: 5px center !important;
}

/*Background Especifico para boton de renovar contrasenya*/
.fondoCancelRenovacion {
	background-image: url("../img/iconosBotones/cancelar_18.png") !important;
	background-repeat: no-repeat !important;
	background-position: 5px center !important;
}

/*Hover Especifico para boton de renovar contrasenya*/
.fondoCancelRenovacion:hover {
	background-image: url("../img/iconosBotones/cancelarHover_18.png")
		!important;
	background-repeat: no-repeat !important;
	background-position: 5px center !important;
}

/*Background Especifico para boton de cargar archivo*/
.fondoCargarArchivo {
	background-image: url("../img/iconosBotones/cargar_18.png") !important;
	background-repeat: no-repeat !important;
	background-position: 5px center !important;
}

/*Hover Especifico para boton de cargar archivo*/
.fondoCargarArchivo:hover {
	background-image: url("../img/iconosBotones/cargarHover_18.png")
		!important;
	background-repeat: no-repeat !important;
	background-position: 5px center !important;
}

/*Background Especifico para boton atras*/
.fondoAtras {
	background-image: url("../img/iconosBotones/atras_18.png") !important;
	background-repeat: no-repeat !important;
	background-position: 5px center !important;
}

/*Hover Especifico para boton atras*/
.fondoAtras:hover {
	background-image: url("../img/iconosBotones/atras_18.png") !important;
	background-repeat: no-repeat !important;
	background-position: 5px center !important;
}