/* ETIQUETAS PROPIAS DEL PROYECTO */
/* ESTILOS PARA MENSAJE QUE SE MUESTRA EN EL AREA DE LOS "MENSAJES" DE LA PARTE INFERIOR DE LA MIGA DE PAN */
.messageColorBusqueda {
	background-color: #FDF9F4 !important; /*Amarillo Claro*/
}

.messageMarginBusqueda {
	margin: -31px 0px 34px 0px !important;
}

.message {
	padding: 2px;
	list-style: none;
	border: thin;
	border-style: ridge;
	border-color: #C0C0C0; /*Gris*/
	background: none;
	background-color: #F4F4F2; /*Gris oscuro de la cebra*/
	color: #000000; /*Negro*/
	margin: -31px 0px 6px 0px;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif;
	width: 977px;
}

.message li {
	background: no-repeat left center;
	padding-top: 3px;
	padding-left: 20px;
	margin-left: 3px;
	font-weight: bold;
}

.message li.infomsg {
	background-image: url(../img/info_16.png);
	padding-bottom: 2px;
}

.message li.errormsg {
	color: #FF0000; /*Rojo*/
	background-image: url(../img/error_16.png);
	padding-bottom: 2px;
}

.message li.warnmsg {
	color: #FF8040; /*Naranja*/
	background-image: url(../img/warn_16.png);
	padding-bottom: 2px;
}

.msgDescarga {
	padding: 5px;
	list-style: none;
	border: thin;
	border-style: ridge;
	border-color: #C0C0C0; /*Gris*/
	background: none;
	background-color: #F4F4F2; /*Gris oscuro de la cebra*/
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif;
	display: block;
}
/* FIN ESTILOS MENSAJES */

/* ERRORES */
.error {
	float: left;
	padding: 5px;
}

.errors {
	color: #FF0000; /*Rojo*/
	vertical-align: middle;
}

.errors input,.errors textarea,.errors select {
	border: 1px solid red !important;
}

/* Estilo para requeridos */
.required {
	color: #FF0000; /*Rojo*/
	padding-left: 2px;
}

div.info {
	font-size: 1.2em;
}

ul.bullets {
	list-style: square;
}

ul.bullets li {
	padding-bottom: 2px;
}

td.action {
	text-align: center;
	width: 8em;
	white-space: nowrap;
}

td.action a {
	padding-left: 1px;
	padding-right: 1px;
}

table.radio {
	border: 0;
}

table.radio td {
	padding: 0 2px;
}

table.radio input[type=radio] {
	vertical-align: bottom;
}

/* ALINEACIONES */
.top {
	vertical-align: top;
}

.verticalAlignMiddle {
	vertical-align: middle !important;
}

.center {
	text-align: center !important;
}

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

/* Mostrar en bloque */
.inBlock {
	display: inline-block;
}

/* Estilo para alinear los label de los textArea */
.tdAlignTop {
	vertical-align: top;
	padding-top: 8px;
	padding-right: 5px;
}

.tdAlignTop2 {
	vertical-align: top;
	padding-top: 4px;
	padding-right: 5px;
}

/* Estilo para alinear HrCertificationsAndRoles */
.tdPaddingCR {
	padding-right: 65px;
}

/* Estilo para alinear los checkbox */
.marginCheckbox {
	margin-top: 8px !important;
}

/*Estilo para alinear outputText*/
.marginTexto {
	margin-top: 8px;
	margin-right: 5px;
}

/* Estilo para la X de cerrar las imagenes en edicion */
.closeImg {
	background-color: #333333; /*Gris oscuro*/
	color: #FFFFFF; /*Gris claro*/
	opacity: 0.8;
	padding: 0.5%;
	position: absolute;
}

/* Estilo para la posicion de la imagen que se carga */
.uploadImg {
	margin: 0 5px;
	float: left;
	overflow: hidden;
	height: 200px;
}

.uploadImg110P {
	margin: 0 5px;
	float: left;
	overflow: hidden;
	height: 110px;
}

.uploadImg155P {
	margin: 0 5px;
	float: left;
	overflow: hidden;
	height: 155px;
}

.ocultar {
	display: none;
}

.scroll {
	overflow-y: auto;
}

/* Estilo que se usa para ajustar el alto de un input que se encuentre dentro de un ExtendDataTable*/

/* Estilo que se usa para ajustar el alto de un input que se encuentre dentro de un DataTable*/

/* Estilo que se usa para ajustar el alto de un input que se encuentre dentro de un ExtendDataTable colocando el ancho con otro estilo*/

/* Estilo que se usa para mostrar los mensajes en bloque (uno debajo del otro) que se encuentran en la parte superior del formulario o lista */
.messageBlock span {
	display: block !important;
}

/* Estilo que se usa para mostrar el archivo que se carga con color y alineacion */

/* Estilo que se usa para mostrar en bloque con prioridad (important) */

/* Estilo que se usa para la imagen de cerrar en la carga de archivos */

/* ESTILOS PARA MOSTRAR LA INFORMACION DE DETALLE */
.columnaIzquierda {
	font-weight: bold;
	padding-top: 6px;
	text-align: right;
	vertical-align: top;
}

.columnaDerecha {
	padding-left: 12px;
	padding-right: 60px;
	padding-top: 6px;
	text-align: left;
}
/* FIN INFORMACION DE DETALLE */

/* Estilo para mostrar el cursor con la manita */
.cursor {
	cursor: pointer;
}

/* Estilo usado para los label del formulario o las etiquetas titulo que se muestran en negrilla */
.etiquetaTitulo {
	vertical-align: top;
	font-weight: bold;
}

/* Estilo para mostrar la informacion que no se puede editar en un formulario NO APLICA PARA LOS INPUT*/
.etiquetaValor {
	display: inline-block;
	font-size: 12px;
	margin: 5px;
	padding-left: 1px;
}

.F20p {
	font-size: 20px;
}

/* ANCHOS EN LOS PANELES, FILSET O TABLAS */
/* Primer ancho en el panel del formulario */
.anchoUno {
	width: 980px;
	background-image: url("../img/fondoAnchoUno.jpg");
	background-repeat: repeat-y;
	vertical-align: top;
}

.anchoExtend {
	width: 1050px;
	background-image: url("../img/fondoAnchoUno.jpg");
	background-repeat: repeat-y;
	background-repeat: repeat-x;
	vertical-align: top;
}

.anchoDos {
	width: 930px;
	vertical-align: top;
}

.anchoTres {
	width: 880px;
	vertical-align: top;
}

.anchoCuatro {
	width: 750px;
	vertical-align: top;
}

.anchoCinco {
	width: 650px;
	vertical-align: top;
}

.anchoSeis {
	width: 530px;
	vertical-align: top;
}

.anchoSiete {
	width: 400px;
	vertical-align: top;
}

/* Tabla pequenya*/
.anchoNueve {
	width: 200px;
	vertical-align: top;
}

/*Utilizado para tamanyo de panel con scroll en criterio de facturacion*/

/*Utilizado para tamanyo de panel en un popup*/

/*Utilizado para tamanyo de panel en un popup*/

/*Utilizado para ocultar overflow*/

/* ESTILOS PARA LOS ICONOS DE LAS COLUMNAS DE LAS TABLAS */
.colIconoUno {
	width: 22px;
	vertical-align: top;
	text-align: center;
}

.colIconoDos {
	width: 44px;
	vertical-align: top;
	text-align: center;
}

.colIconoTres {
	width: 66px;
	vertical-align: top;
	text-align: center;
}

.colIconoCinco {
	width: 110px;
	vertical-align: top;
	text-align: center;
}

/* Estilo que permite tener mas de cinco iconos y que puede varias la cantidad de iconos por fila */
.colIconoAjustable {
	text-align: left !important;
	vertical-align: top;
	white-space: nowrap;
}
/* FIN ESTILOS ICONOS */

/* ESTILOS PARA LOS TEXTOS O CAMPOS DE LA TABLA */
/* Estilos para las columnas o campos texto que son numeros */
.colNumeroMini {
	width: 50px;
	vertical-align: top;
	text-align: left;
}

.colNumero {
	width: 80px;
	vertical-align: top;
	text-align: left;
}

.colNumeroLargo {
	width: 110px;
	vertical-align: top;
	text-align: left;
}

.colNumeroExtraLargo {
	width: 130px;
	vertical-align: top;
	text-align: left;
}

/* Estilos para las columnas o campos texto que son identificadores de un objeto */

/* Estilos para las columnas o campos texto que son caracteres */
.colTextoMini {
	width: 50px;
	vertical-align: top;
	text-align: left;
}

/* Estilos para las columnas o campos texto que son caracteres */

/* Estilos para las columnas o campos texto que son caracteres */
.colTextoXCorto {
	width: 100px;
	vertical-align: top;
	text-align: left;
}

/* Estilos para las columnas o campos texto que son caracteres */
.colTextoCorto {
	width: 150px;
	vertical-align: top;
	text-align: left;
}

/* Estilos para las columnas en los reportes */

/* Estilos para las columnas o campos texto que son caracteres */
.colTextoMediano {
	width: 225px;
	vertical-align: top;
	text-align: left;
}

/* Estilos para las columnas o campos texto que son caracteres */
.colTextoLargo {
	width: 300px;
	vertical-align: top;
	text-align: left;
}

/* Estilos para las columnas o campos texto que son caracteres */
.colTextoExtraLargo {
	width: 400px;
	vertical-align: top;
	text-align: left;
}

/* Estilos para las columnas o campos texto que son caracteres */
.colTextoExxtraLargo {
	width: 600px;
	vertical-align: top;
	text-align: left;
}

/* Estilos para las imagenes de los hierros */

/* Estilos para los campos tipo textArea */
.colTextoPequeTextArea {
	height: 50px;
	width: 150px;
}

.colTextoMedianoTextArea {
	height: 80px;
	width: 225px;
}

.colTextoExtraLargoTextArea {
	height: 120px;
	width: 400px;
}

/* Estilos para las columnas o campos texto que son valores de plata o cantidades que se totalizan */
/* Estilos para las columnas o campos texto que son caracteres */
.colValorMini {
	width: 50px;
	vertical-align: top;
	text-align: right;
}

.colValor {
	width: 80px;
	vertical-align: top;
	text-align: right;
}

.colValorLargo {
	width: 110px;
	vertical-align: top;
	text-align: right;
}

/*Estilo para tooltip*/
.campoTooltip {
	width: 138px;
	text-align: justify;
}

/* Estilos para las columnas o campos texto que son valores de plata o cantidades que se totalizan */
.colValorTextoMediano {
	width: 120px;
	vertical-align: top;
	text-align: right;
}

.colValorTextoLargo {
	width: 200px;
	vertical-align: top;
	text-align: right;
}

/* Estilo para las columas o campos texto de tipo fecha */
.colFecha {
	width: 80px;
	vertical-align: top;
	text-align: center;
}

.colFechaLarga {
	width: 110px;
	vertical-align: top;
	text-align: center;
}

.colFechaExtraLarga {
	width: 140px;
	vertical-align: top;
	text-align: center;
}

.colFechaExtraXLarga {
	width: 160px;
	vertical-align: top;
	text-align: center;
}

/* Estilo para las columas o campos texto de tipo hora */

/* Estilo para las columas con checks */

/* FIN ESTILOS TEXTOS O CAMPOS DE LA TABLA */

/* Estilo para el encabezado */

/* Estilo usado en los arboles */

/* Tipos de letras */
.FontFamilyArial {
	font-family: Arial, Verdana, sans-serif;
}

/* Colores y fondos */
.colorRojo {
	color: #FF0000;
}

.colorGris {
	color: #C0C0C0;
}

/* ESTILOS DE LA CEBRA EN LAS TABLAS */
.even-row {
	background-color: #E1E1E1;
}

.odd-row {
	background-color: #F4F4F2;
}

.active-row {
	background-color: #CCCCCC;
}

.dataTable {
	
}
/* FIN ESTILOS CEBRA */

/* ESTILOS DE LA MIGA DE PAN */
/* Estilo que carga la imagen de la miga */

/* Estilo de tamaño y letra de la miga */
.migaPan {
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px !important;
}

/* Estilo para el texto de caracteres restantes en los inputTextArea */
.status {
	text-align: right !important;
	font-weight: bold;
}

/* Estilo usado los titulos de la informacion general*/
.messagePortalWeb {
	padding: 5px;
	list-style: none;
	border: thin;
	border-style: ridge;
	border-color: #C0C0C0; /*Gris*/
	background: none;
	background-color: #F4F4F2; /*Gris oscuro de la cebra*/
	color: #000000; /*Negro*/
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif;
	margin: 0px;
}

.messagePortalWeb li {
	background: no-repeat left center;
	padding-top: 3px;
	padding-left: 20px;
	margin-left: 3px;
	font-weight: bold;
}

.messagePortalWeb li.infomsg {
	background-image: url(../img/info_16.png);
}

.messagePortalWeb li.errormsg {
	color: #FF0000; /*Rojo*/
	background-image: url(../img/error_16.png);
}

.messagePortalWeb li.warnmsg {
	color: #FF8040; /*Naranja*/
	background-image: url(../img/warn_16.png);
}

.MP0 {
	margin: 0px !important;
}

/*estilos para icono de ordenamiento*/

/*Estilos del Nuevo Menu*/
.tablaIconoTexto {
	border: 1px solid transparent !important;
	border-radius: 3px 3px 3px 3px;
	color: #000000 !important;
	cursor: pointer !important;
	font-size: 11px !important;
	font-weight: bold !important;
	text-align: center !important;
	white-space: nowrap !important;
}

.tablaIniMenu {
	background-color: transparent !important;
	background-image: none !important;
	height: 105px !important;
	border-radius: 3px 3px 3px 3px;
	padding: 0 !important;
	cursor: default !important;
}

.encabezadoMenu {
	height: 150px;
}

.footerMenu {
	background-color: #ba7d8f;
	border-radius: 3px 3px 3px 3px;
	color: #5c3833;
	font-weight: bold;
	height: 1px;
	text-align: center;
	padding: 0 !important;
	white-space: nowrap !important;
}

.tablaIconoTexto:hover {
	border: 1px solid #FFF6C8 !important;
	border-radius: 3px 3px 3px 3px !important;
	background-color: #FFD759 !important;
}

.tablaPrincipalIcono {
	border: 1px solid transparent !important;
}

.tablaPrincipalIcono:hover {
	border: 1px solid #FFD759 !important;
	border-radius: 3px 3px 3px 3px !important;
	background-color: #FFF6C8 !important;
}

.flechaMenu {
	border-radius: 3px 3px 3px 3px;
	height: 17px;
	padding: 0;
	position: relative;
	z-index: inherit;
}

.tamanyoIconoPequenyo {
	height: 20px;
	width: 20px;
}

.tamanyoIconoGrande {
	height: 32px;
	width: 32px;
}

.tablaCenter {
	margin: 0px auto;
}

.tabPestanyaEstilo {
	border: 1px transparent !important;
	position: inherit !important;
}
/*Fin estilos nuevo menu*/
.colorBlanco {
	color: white !important;
}

/*Estilos nuevos listados*/
.rowAdd {
	background-color: #C0C0C0 !important;
	font-size: 12px !important;
	font-weight: bold !important;
	text-align: right !important;
	height: 25px !important;
	padding-left: 55%;
}

.BCTransparente {
	background-color: transparent !important;
}

.footTabla {
	background-color: transparent !important;
	font-size: 20px;
	font-weight: normal;
}

.rdVigencia {
	font-size: 11px !important;
	font-weight: bold !important;
}

.quitarDecoracionLink {
	color: #000000 !important;
	text-decoration: none;
}

/*Fin Estilos nuevos listados*/

/* Estilos nuevos buscadores*/
.fondoAnchoUno {
	background-image: url("../img/fondoAnchoUno.jpg");
}

.messageInfSpan span.rf-msgs-inf {
	background-color: #FDF9F4 !important; /*Amarillo Claro*/
	background-position: 5px center;
	border: thin;
	border-style: ridge;
	border-color: #C0C0C0; /*Gris*/
	margin: 0px 19px 0px 0px !important;
	padding-bottom: 5px;
	padding-left: 26px;
	padding-top: 6px;
}

.W550P span.rf-msgs-inf {
	width: 550px;
}

/* Fin estilos nuevos buscadores*/

/* Estilos botones graficos para el menu de seleccion de idiomas y skin */
.linkGrapButtons {
	text-decoration: none;
	display: inline-block;
	width: 100%;
}

.linkGrapButtons.linkDropHeader {
	cursor: default !important;
	color: #ffffff; /*Blanco*/
}

.borderImgDrop {
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff; /*Blanco*/
}

.colorTextMenuSelect {
	color: #000000; /*Negro*/
}
/* FIN Estilos botones graficos para el menu de seleccion de idiomas y skin */
.messageInfSpanMsg span.rf-msg-inf {
	background-color: #FDF9F4 !important; /*Amarillo Claro*/
	background-position: 5px center;
	border: thin;
	border-style: ridge;
	border-color: #C0C0C0; /*Gris*/
	margin: 0px 19px 0px 0px !important;
	padding-bottom: 4px;
	padding-left: 26px;
	padding-top: 6px;
}

.messageInfSpanMsg span.rf-msg-err {
	background-color: #FDF9F4 !important; /*Amarillo Claro*/
	background-position: 5px center;
	border: thin;
	border-style: ridge;
	border-color: #C0C0C0; /*Gris*/
	margin: 0px 19px 0px 0px !important;
	padding-bottom: 4px;
	padding-left: 26px;
	padding-top: 6px;
}

.circulo17P {
	border: 2px solid #9C9CA8;
	border-radius: 50% 50% 50% 50%;
	height: 17px;
	width: 17px;
}

.lineaH3PW30P {
	border: 1px solid #9C9CA8;
	height: 3px;
	width: 30px;
}

.MarginAuto {
	margin: auto;
}

/* Estilos botones de la cabecera */
.tablaIconoTextoHeader {
	border: 1px solid transparent !important;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer !important;
	font-size: 11px !important;
	font-weight: bold !important;
	text-align: center !important;
	white-space: nowrap !important;
}

.tablaIconoTextoHeader:hover {
	border: 1px solid #FFF6C8 !important;
	border-radius: 3px 3px 3px 3px !important;
	background-color: #FFD759 !important;
	color: #000000 !important;
}
/*FIN Estilos botones de la cabecera */

/* Estilos para scroll de un popup */
.panelScrollPopupY {
	overflow-y: auto;
	overflow-x: hidden;
}

/**Cambios estilos migracion JEE6 a JEE7*/

/* Estilos Max Length plugin v2.0.0 */
.maxlength-feedback {
	font-size: 80%;
	font-weight: bold;
	width: 220px;
	padding: 0.25em;
	font-weight: bold;
	display: block;
	margin: -5px 0 0 5px;
}

.maxlength-full {
	background-color: #fee;
}

.maxlength-overflow {
	background-color: #fcc;
}

.maxlength-disabled {
	opacity: 0.5;
}

/*cambios estilos subida de archivos*/
.ui-fileupload-content.ui-widget-content.ui-corner-bottom {
	display: none;
}

.ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 0 none;
}

/*Border radius fieldset*/
fieldset {
	border-radius: 5px;
}

/*Estilos pisar background-image*/
.backgroundNone {
	background-image: none !important;
	font-weight: bold !important;
}

/*Estilos mantener mensaje PopUp*/
.messagePopUp {
	padding: 2px;
	list-style: none;
	border: thin;
	border-style: ridge;
	border-color: #C0C0C0; /*Gris*/
	background: none;
	background-color: #F4F4F2; /*Gris oscuro de la cebra*/
	color: #000000; /*Negro*/
	margin: -35px 0px 6px 0px;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif;
}

.messagePopUp li {
	background: no-repeat left center;
	font-weight: bold;
	margin-left: 3px;
	padding-left: 20px;
	padding-top: 3px;
}

.messagePopUp li.infomsg {
	background-image: url("../img/info_16.png");
	padding-bottom: 2px;
}

.messagePopUp li.errormsg {
	background-image: url("../img/error_16.png");
	color: #FF0000;
	padding-bottom: 2px;
	color: #FF0000;
}

.messagePopUp li.warnmsg {
	background-image: url("../img/warn_16.png");
	color: #FF8040;
	padding-bottom: 2px;
}

.styleMessagePopUp {
	display: table;
	margin-bottom: -10px;
	margin-top: 34px;
}

.styleMessagePopUp,x:-moz-any-link,x:default {
	margin-top: 15px;
}
/*Fin*/
.MarginAuto {
	margin: auto;
}

/* Estilos para el dropDownMenu del rango del paginado*/
.iconRange {
	padding-right: 5px;
	padding-left: 1px;
}

.labelRange {
	padding-right: 3px;
}

.range {
	width: 18px;
	padding-right: 3px;
}

.arrowRange {
	width: 10px;
	padding-right: 3px;
}
/* FIN Estilos para el dropDownMenu del rango del paginado*/

/*Estilo para ajustar iconos en la parte superior derecha de un Datatable*/
.iconsDataTable {
	float: right;
	position: relative;
}

/*Styles for sort table*/
.FL {
	float: left;
	overflow: hidden;
}

.headerLink {
	display: block;
}

.headerLink div:hover {
	text-decoration: underline;
}

.headerLink a {
	display: block;
}

.headerLink a:hover {
	display: block;
}

.wordBreakNormal {
	word-break: normal
}

rect:hover {
	cursor: pointer;
	opacity: 0.8;
	background-color: black;
}

/*Styles for assists control*/
.assistControlOk{
	background-image: url("../img/assistOk_16.png");
	background-size: 16px 16px!important;
	background-repeat: no-repeat;
	background-position: center;
}

.assistControlNot{
	background-image: url("../img/assistNot_16.png");
	background-size: 16px 16px!important;
	background-repeat: no-repeat;
	background-position: center;
}