<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<context-param>
		<param-name>application.url</param-name>
		<param-value>http://localhost:8080/PrototipoCostos</param-value>
	</context-param>
	<context-param>
		<param-name>client.name</param-name>
		<param-value>Client</param-value>
	</context-param>
	<context-param>
		<param-name>factory.name</param-name>
		<param-value>Informatix de Colombia LTDA.</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	<context-param>
		<param-name>licence.install</param-name>
		<param-value>2302012</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.enableControlSkinning</param-name>
		<param-value>true</param-value>
	</context-param>
	<session-config>
		<session-timeout>45</session-timeout>
	</session-config>
	<context-param>
		<param-name>org.richfaces.skin</param-name>
		<param-value>#{presentacion.skin}</param-value>
	</context-param>
	<context-param>
		<param-name>application.name</param-name>
		<param-value>PrototipoCostos</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>
			/WEB-INF/faces-config.xml,
			
			/informacionBase/tipoDocumento/faces-config-tipoDocumento.xml,
			/informacionBase/ubicacionGeografica/pais/faces-config-pais.xml,
			/informacionBase/ubicacionGeografica/departamento/faces-config-departamento.xml,
			/informacionBase/ubicacionGeografica/municipio/faces-config-municipio.xml,
			/informacionBase/unidadMedida/faces-config-unidadMedida.xml,
			/informacionBase/unidadMedida/tipoUnidadMedida/faces-config-tipoUnidadMedida.xml,
			/informacionBase/unidadMedida/conversion/faces-config-conversionUnidadMedida.xml,
			/informacionBase/estadoCivil/faces-config-estadoCivil.xml,
			/informacionBase/estado/faces-config-estado.xml,

            /organizaciones/empresas/faces-config-empresas.xml,
            /organizaciones/organizacion/faces-config-organizacion.xml,
            /organizaciones/hacienda/faces-config-hacienda.xml,
            /organizaciones/zona/faces-config-zona.xml,
            /organizaciones/zona/lote/faces-config-lote.xml,
            /organizaciones/informacionBase/departamentoEmpresa/faces-config-departamentoEmpresa.xml,
			            
			/seguridad/menu/faces-config-gestionarMenu.xml,
			/seguridad/rol/faces-config-roles.xml,
			/seguridad/usuario/faces-config-usuario.xml,
			/seguridad/iconos/faces-config-iconos.xml,
			/seguridad/metodo/faces-config-metodo.xml,
			/seguridad/perfilUsuario/faces-config-perfilUsuario.xml,
			/seguridad/permisoPersonaEmpresa/faces-config-permisoPersonaEmpresa.xml,
			
			/recursosHumanos/informacionBase/tipoCargo/faces-config-tipoCargo.xml,
			/recursosHumanos/persona/faces-config-persona.xml,
			/recursosHumanos/hrTypes/faces-config-hrTypes.xml,
			/recursosHumanos/hr/faces-config-hr.xml,
			/recursosHumanos/certificationsAndRoles/faces-config-certificationsAndRoles.xml,
			/recursosHumanos/paymentMethods/faces-config-paymentMethods.xml,
			/recursosHumanos/contractType/faces-config-contractType.xml,
			/recursosHumanos/contrato/faces-config-contrato.xml,
			/recursosHumanos/hrCertificationsAndRoles/faces-config-hrCertificationsAndRoles.xml,
			/recursosHumanos/payments/faces-config-payments.xml,
			/recursosHumanos/overtimePaymentRate/faces-config-overtimePayment.xml,
			
			/lifeCycle/farm/faces-config-farm.xml,
			/lifeCycle/plot/faces-config-plot.xml,
			/lifeCycle/cropNames/faces-config-cropNames.xml,
			/lifeCycle/crops/faces-config-crops.xml,
			/lifeCycle/cropNames/faces-config-cropNames.xml,
			/lifeCycle/activityNames/faces-config-activityNames.xml,
			/lifeCycle/associateCycles/faces-config-registrarCropActivities.xml,
			/lifeCycle/activities/activitiesAndCertifications/faces-config-activitiesAndCertifications.xml,
			/lifeCycle/scheduledActivities/faces-config-scheduledActivities.xml,
			/lifeCycle/section/faces-config-section.xml,
			/lifeCycle/cycle/faces-config-cycle.xml,
			
			/machine/machineTypes/faces-config-machineTypes.xml,
			/machine/consumableTypes/faces-config-consumableTypes.xml,
			/machine/machines/faces-config-machines.xml,
			/machine/maintenanceAndCalibration/faces-config-maintenanceAndCalibration.xml,
			/machine/maintenanceLines/faces-config-maintenanceLines.xml,
			/machine/insurance/faces-config-insurance.xml,
			/machine/activitiesAndMachines/faces-config-activitiesAndMachines.xml,
			/machine/fuelTypes/faces-config-fuelTypes.xml,
			/machine/machineUsage/faces-config-machineUsage.xml,
			
			/services/serviceType/faces-config-serviceType.xml,
			/services/activitiesAndServices/faces-config-activitiesAndServices.xml,
			
            /warehouse/suppliers/faces-config-suppliers.xml,
			/warehouse/materialsType/faces-config-materialsType.xml,
			/warehouse/measurementUnits/faces-config-measurementUnits.xml,
            /warehouse/typeOfManagement/faces-config-typeOfManagement.xml,
            /warehouse/diseases/faces-config-diseases.xml,
            /warehouse/materials/faces-config-materials.xml,
            /warehouse/deposits/faces-config-deposits.xml,
            /warehouse/transactionType/faces-config-transactionType.xml,
            
            /general/civilStatus/faces-config-civilStatus.xml,

			/costs/activities/faces-config-activities.xml,
			/costs/cycleStandardActivities/faces-config-cycleStandardActivities.xml,
			/costs/allocation/faces-config-allocation.xml,
			/costs/activitiesAndHr/faces-config-activitiesAndHr.xml,
			/costs/hrReportingActuals/faces-config-hrReportingActuals.xml,
			
			/sales/customer/faces-config-customer.xml,
			
			/reports/indexes/generalTrend/faces-config-generalTrend.xml,
			/reports/indexes/faces-config-beanIndex.xml,
			/reports/indexes/bySection/faces-config-bySection.xml

	   </param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.jsf</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>co.informatix.erp.utils.EncodeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>500</error-code>
		<location>/errores/error.html</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/errores/error.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errores/error.html</location>
	</error-page>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/errores/verSesionExpirada.html</location>
	</error-page>
</web-app>