/* CAMBIOS EN PRIMEFACES */

/* Fondo de los eventos en el calendario grande (schedule) */
.fc-event,.fc-agenda .fc-event-time,.fc-event a {
	background-image:
		url("/CacaoSoft/rfRes/gradientA.png.jsf?v=4.0.0.Final&db=eAFjZJBjZDBiZBBh!D9rcy3j!9hiZwYmACxKBUc_&ln=org.richfaces.images");
	border-color: #5D7343;
	border-style: solid;
	color: #FFFFFF;
}

/**Cambios estilos migracion JEE6 a JEE7*/

/* Cambios estilos calendario primafaces*/
.ui-button-icon-only:hover {
	background-image: none;
	background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0)) repeat scroll 0 0 #c4c4c4;
}

.ui-button-icon-only {
	height: 18px;
	width: 18px;
}

.ui-button-icon-left.ui-icon.ui-icon-calendar {
	background-image: url("../img/calendario_16.png");
	border-radius: 5px;
}

.ui-icon-calendar {
	background-position: 0 center;
}

.ui-datepicker-trigger {
	border-radius: 6px 7px 5px 5px !important;
	padding: 0 !important;
	position: relative;
	top: 6px;
}

/* Cambios estilos arbol primafaces*/
.ui-treetable thead th,.ui-treetable tbody td,.ui-treetable tfoot td {
	padding: 4px 16px 10px 5px;
}

tr.ui-widget-content.ui-treetable-empty-message {
	display: none;
}

.ui-widget-content a {
	color: #0078D0;
}

.ui-widget-content {
	color: #000000;
}

.rf-dt-shdr-c.ui-state-default span {
	text-shadow: none;
}